<!DOCTYPE html>
<html>
  <head>
    <title>Studionet - A Graph Based Sharing Network</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600" rel="stylesheet"> -->

    <!-- <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'  rel="stylesheet"> -->
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  rel="stylesheet">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script> -->



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS for Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <!-- CSS for Angular PlugIns & Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css">
    <link rel="stylesheet" href="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.min.css">
    <link rel="stylesheet" href="/user/plugins/slider/angular-ranger.css">
    <link rel="stylesheet" href="/user/plugins/animations/animate.css">
    <link rel='stylesheet' href='/user/plugins/textAngular/textAngular.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.22.5/angular-ui-tree.css'>

    <!-- Angular d3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>    
    
    
    <!-- QTip -->
    <link rel="stylesheet" href="/user/plugins/qtip/jquery.qtip.min.css">

    <!-- Studionet CSS -->
    <!-- <link rel='stylesheet' href='/user/stylesheets/style.css' />
    <link rel='stylesheet' href='/user/stylesheets/modals.css' />
    <link rel='stylesheet' href='/user/stylesheets/graphs.css' />
    <link rel='stylesheet' href='/user/stylesheets/filters.css'/>
    <link rel='stylesheet' href='/user/stylesheets/forum.css'/> -->
    <link rel='stylesheet' href='/user/stylesheets/styles.css' />



  </head>

  <body ng-app="studionet">
    <ui-view></ui-view>
  </body>


  <!-- Socket Connection -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>

  <!-- Constants -->
  <script type="text/javascript" src="../user/js/constants.js"></script>

  <!-- AngularJS & Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>

  <!-- Angular Material -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 


  <!-- Angular Bootstrap -->
<!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap.min.js"></script> -->
  <!-- Angular File Upload -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>
  <!-- Angular Moment -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <!-- Angular d3-->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
  <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.7/dist/angular-nvd3.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.22.5/angular-ui-tree.js"></script>

  <!--- Cytoscape -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.17/cytoscape.min.js"></script>
  <script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cola/1.1.1/cytoscape-cola.js"></script> -->
  <!-- <script src="//marvl.infotech.monash.edu/webcola/extern/d3v4.js"></script> -->

  
  <!--qtip -->
  <script src="/user/plugins/qtip/jquery.qtip.min.js" charset="utf-8"></script>   
  <script src="/user/plugins/qtip/cytoscape-qtip.js" charset="utf-8"></script>  

  <!-- Spinner -->
  <script src="/user/plugins/spinner/spinner.min.js" charset="utf-8"></script>  


  <!--Filters JS-->
  <!-- js for multi-select tree-->
  <!-- https://github.com/kjvelarde/angular-multiselectsearchtree -->
  <script type="text/javascript" src="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.min.js"></script>
  <script type="text/javascript" src="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.tpl.js"></script>
  <script type="text/javascript" src="/user/plugins/slider/angular-ranger.js"></script> <!-- https://github.com/JustMaier/angular-ranger -->

  <!-- textAngular JS -->
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular-rangy.min.js"></script>
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular-sanitize.min.js"></script>
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular.min.js"></script>

  <script type="text/javascript" src="/user/plugins/angular-drag-and-drop-lists.js"></script>


  <!-- Mentio JS -->
  <script type="text/javascript" src="/user/plugins/mentio/mentio.min.js"></script>
  <script type="text/javascript" src="/user/plugins/mentio/mentio.js"></script>
  <script type="text/javascript" src="/user/plugins/mentio/templates.js"></script>

  <!-- Modal Service -->
  <script type="text/javascript" src="/user/plugins/modalservice/angular-modal-service.js"></script>


  <!-- Date Range Picker -->
  <!--http://www.daterangepicker.com-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


  <!-- App Related -->

  <!-- Constants-->
  <script type="text/javascript" src="/user/js/constants.js"></script> 



  <!-- Angular Routing -->
  <script type="text/javascript" src="/user/js/angularApp.js"></script>

  <!-- Services & Helpers-->
  <script type="text/javascript" src="/user/js/services.js"></script>
  <script type="text/javascript" src="/user/components/graphs/GraphService.js"></script>
  <!-- <script type="text/javascript" src="/user/components/graphs/graph-helper.js"></script>
  <script type="text/javascript" src="/user/components/graphs/graph-worker.js"></script> -->

  <!-- <script type="text/javascript" src="/user/components/nodes/NodeController.js"></script> -->
  
  
  <!-- Controllers -->
<!--   <script type="text/javascript" src="/user/js/MainController.js"></script>
  <script type="text/javascript" src="/user/js/ForumController.js"></script>
  <script type="text/javascript" src="/user/js/HelpController.js"></script> 
  <script type="text/javascript" src="/user/components/nodes/NodeController.js"></script>
  <script type="text/javascript" src="/user/components/groups/NewGroupController.js"></script>
  <script type="text/javascript" src="/user/components/groups/GroupDetailsController.js"></script>  
  <script type="text/javascript" src="/user/components/boards/UserBoardController.js"></script>
  <script type="text/javascript" src="/user/components/boards/NodeBoardController.js"></script>
  <script type="text/javascript" src="/user/components/boards/CommentBoardController.js"></script>
  <script type="text/javascript" src="/user/components/boards/GroupBoardController.js"></script>
  <script type="text/javascript" src="/user/components/links/LinksController.js"></script>  -->

  <script type="text/javascript" src="/user/components/skeleton/SkeletonController.js"></script>
  <script type="text/javascript" src="/user/components/homepage/HomepageController.js"></script>
  <script type="text/javascript" src="/user/components/search/SearchModeController.js"></script>
  <script type="text/javascript" src="/user/components/search/SearchResultsController.js"></script>
  <script type="text/javascript" src="/user/components/nodes/NewNodeController.js"></script>
  <script type="text/javascript" src="/user/components/nodes/NodeController.js"></script>
  <script type="text/javascript" src="/user/components/profile/ProfileController.js"></script> 
  <script type="text/javascript" src="/user/components/profile/MyProfileController.js"></script> 
  <script type="text/javascript" src="/user/components/notifications/NotificationsController.js"></script> 
  <script type="text/javascript" src="/user/components/filters/FilterController.js"></script> 
  
  <!-- <script type="text/javascript" src="/user/components/topbar/topbar-directive.js"></script>
  <script type="text/javascript" src="/user/components/workbench/workbench-directive.js"></script> -->
 <!--  <script type="text/javascript" src="/user/components/tagcontainer/tagcontainer-directive.js"></script> -->
  <script type="text/javascript" src="/user/js/mousefunctions.js"></script>


</html>
