<!-- back button -->
<a onclick='history.back()' style='display: block;'><u>Back</u></a>

<!-- profile -->
<h3 class='md-display'>{{profile}}</h3>
    <br>
      <hr class="style1">
    <br>

<div class="container" >
    <div layout="row" style="height:100%;">
        <div layout="column">
               <h1><span class="headline">Novice</span></h1>

                <!-- Details section -->
                <div id="left">
                    Last Seen
                </div>

                <div id="detailContainer">
                            <div id="left">
                                    <div>
                                       <p> Number of subscribers:</p>
                                    </div>
                                    <div>
                                        <p>Post Created:</p>
                                    </div>
                                    <div>
                                        <p>Comments Posted:</p>
                                    </div>
                            </div>

                            <div id="center">
                                <p>Upvotes Received:</p>
                            </div>

                            <div id="right">
                                <user-avatar></user-avatar>
                            </div>
                </div>
            <!-- Progress Bar -->
            <div  class="rcornertop">

                <p>NOVICE | COFFEE BOY | ARCHI INTERN | JR. ARCHITECT | ARCHITECT | LEAD ARCHITECT

                </p>

            </div>
            <md-divider md-inset></md-divider>

            <!--Badge Layer -->


            <h3>Badges Earned</h3>
            <div class="rcornermiddle">
                <div flex class="badge">
                </div>
            </div>
            <md-divider md-inset></md-divider>

            <div class="row" id="separation">
                </br>
            </div>

            <!-- Tags Section -->
            <div class="rcornerbottom">
            <p># tags</p>
            </div>
        </div>
    </div>
</div>