<div class='scroll'>

    <!-- back button -->
    <a onclick='history.back()' style='display: block;'><u>Back</u></a>

    <!-- profile -->
    <!-- <h3 class='md-display'>{{user.name}}</h3>
    <br>
      <hr class="style1">
    <br> -->

    <div layout="row" layout-sm="column">

        <md-card flex='45' md-padding class='profile-card'>

            <div class='headline'>
                <h1>{{ user.level | level }}<span>{{ user.name }}</span></h1>
            </div>

            <!-- Details section -->
            <div>
                Last Seen : {{user.lastLoggedIn | date: 'medium'}}
            </div>

            <div class="detailContainer" layout="row">

                <!-- todo: remove br and add a margin -->
                <!--   topmargin class in _profiledesign added -->
                <div flex='70' class = 'topmargin'>

                    <div class='detail'>Posts Created: {{user.contributions.length}}</div>

                    <!-- compute number of contributions of type "comment" in the user.contributions array and place here -->
                    <div class='detail'>Comments Created: {{ comments }}</div>

                    <div class='detail' id="center">Upvotes: {{user.thumbs}}</div>
                    <div class='detail'>Views: {{user.views}}</div>
                </div>

                <div flex='30'>
                    <!-- todo: changing user profile picture by using $mdDialog -->
                    <img src='{{user.avatar}}'>
                </div>

            </div>

            <md-divider></md-divider>

            <!-- Progress Bar -->
            <div>

                <span ng-repeat='level in levels' ng-class=' user.role == level.id ? "selected" : "" '>{{level.name}}</span>


                <!-- todo: stylize this progress bar : check the css used in the angular material demo; add a top margin -->
                <!--  Corrected the top margin -->
                <div class="progressLinear">
                 <md-progress-linear md-mode="determinate" value="{{user.points}}"></md-progress-linear>
                </div>

            </div>

            <md-divider></md-divider>

            <!--Badge Layer -->
            <!-- <h3>Badges Earned</h3>
            <div layout="row" class="rcornermiddle">
                <div ng-repeat='Badge in Badge'>
                     <div flex class="badge">
                     </div>
                </div>
            </div> -->

            <md-divider></md-divider>

            <!-- Tags Section -->
            <div class="rcornerbottom">
                <div class="cloud-container">
                       <ng-tag-cloud class="custom-1" cloud-width="250" cloud-height="250" cloud-data="data"></ng-tag-cloud>
                </div>
            </div>

        </md-card>

        <!-- user.contributions has the users' contributions -->
        <md-card flex='45' class='profile-card'>
            <div layout="row" layout-wrap>
                  <div flex="30" class="left">
                    <md-card>
                        <md-card-content>

                            <!-- post title -->
                            <h2>{{ topcontribution.title }}</h2>

                            <!-- list out all tags of this post -->
                            <p>{{ getTagName(371) }}</p>
                        </md-card-content>
                        <md-card-footer>
                            <!-- list statistics of the post -->
                        </md-card-footer>
                    </md-card>
                  </div>
                  <div flex="45" class="center">
                    <div>
                       <p> PostTitle</p>

                        <p>Views</p>
                        <p>Upvotes</p>
                        <p>Bookmark</p>
                    </div>
                  </div>
                  <div flex="25" class="rcornerbadgeTopPost" layout="column">
                        <div >
                           <div class="coin gold"><p>1</p></div>
                           <div class="coin silver"><p>2</p></div>
                           <div class="coin bronze"><p>3</p></div>
                        </div>
                  </div>
            </div>

            <md-divider></md-divider>

            <p>Forked Spaces</p>

            <!-- todo: list out all the forks with names and tags from the property user.forked -->
            <div class="rcornerTopPost">
                <div ng-repeat='fork in user.forked'>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                        <p>{{ $index }}</p>
                        </div>
                    </md-list-item>
                </div>
            </div>

        </md-card>

    </div>


</div>


