<div class='scroll post-view-section' layout-align='center' style='margin-top: 20px; max-width: 600px;'>
  
    <!-- back button -->
    <!-- <back-button></back-button>   -->

    <h3 ng-if='ref' style='margin-bottom: 10px;'>
       Replying to Post: {{ ref.title }} 
    </h3>

    <h3 ng-if='editMode' style='margin-bottom: 10px;'>
       Editing Post: {{ contributionData.title }} 
    </h3>

    <!-- actual form -->
    <div layout='column'>

        <div ng-show='showOpts'>
        
          <!-- <h5 style='display: inline-block;'>New {{ contributionData.contentType }}</h5> -->

          <md-radio-group ng-model="contributionData.contentType" style='float:left;margin: 10px 0px;'>
            <md-radio-button value="note" class="md-primary inline-radio">Note</md-radio-button>
            <md-radio-button value="question" class='inline-radio'>Question</md-radio-button>
            <md-radio-button value="assignment" class='inline-radio'>Assignment</md-radio-button>
          </md-radio-group>
        
        </div>


        <!-- Title -->
        <md-input-container style='margin-top: 24px;'>
          <label class="new-node-title">Enter a title</label>
          <textarea ng-model="contributionData.title"></textarea>
        </md-input-container>


        <div class='tags' style='margin-top: 0px; margin-bottom: 10px;'>
          <span ng-repeat="tag in contributionData.tags">{{getTagName(tag)}}</span>
        </div>

        <!--body -->
        <div class="textAngular" text="Enter your text here" style="border-width:5px;  border-style:grove; max-width: 100%; width: 600px; overflow-x: scroll">
          <!-- <text-angular ng-model="contributionData.body" class="textAngular"> -->
          <my-awns ng-model="contributionData.body"></my-awns>
        </div>


        <!-- attachments -->
        <div>
          <a class='pointer' type="button" ngf-select="uplodateFiles($files, contributionData)" ngf-multiple="true">
                  <i class='fa fa-paperclip'></i>
                <h3 style='display: inline-block;'>
                      Attachments 
                      <small>({{contributionData.attachments.length}} file(s) uploaded)</small>
                </h3>
          </a>
          

         <!--  <input type="file" ngf-select="showUplodatedFiles" ng-model="contributionData.attachments" name="file" ngf-multiple="true"> -->
          <div class="attachments" ng-repeat="attachment in contributionData.attachments">
            <h4 style="color: blue; width: 70%; display: inline-block;"><u>{{ attachment.name }} ({{ attachment.size/1000 }} kB)</u></h4>
            <button style='float: right; display: inline-block;' class="btn btn-xs" ng-click="removeFiles(attachment)">X</button>
          </div>
        </div>

        <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
          <md-button class="md-primary md-raised" ng-if='editMode == false;' ng-click='createContribution()' ng-disabled="!(contributionData.body && contributionData.title)">Save</md-button>
          <md-button class="md-primary md-raised" ng-if='editMode == true;' ng-click='editContribution()' ng-disabled="!(contributionData.body && contributionData.title)">Save</md-button>
          <md-button class="md-warn raised" ng-click='close()'>Discard</md-button>
        </div>


    </div>
</div>


