<div class='scroll post-view-section' layout='column' layout-align='start center' style='margin-top: 20px;'>
  
    <!-- back button -->
    <!-- <back-button></back-button>   -->

    <h3 ng-if='ref' style='margin-bottom: 10px;'>
       Replying to Post: {{ ref.title }} 
    </h3>

    <!-- actual form -->
    <div layout='column'>

        <div>
        
          <!-- <h5 style='display: inline-block;'>New {{ contributionData.contentType }}</h5> -->

          <md-radio-group ng-model="contributionData.contentType" style='float:left;margin: 10px 0px;'>
            <md-radio-button value="note" class="md-primary inline-radio">Note</md-radio-button>
            <md-radio-button value="question" class='inline-radio'>Question</md-radio-button>
            <md-radio-button value="assignment" class='inline-radio'>Assignment</md-radio-button>
          </md-radio-group>
        
        </div>




        <!-- Title -->
        <md-input-container class="md-block">
          <label class="new-node-title">Enter a title</label>
          <textarea ng-model="contributionData.title"></textarea>
        </md-input-container>


        <div class='tags' style='margin-top: 0px' ng-if='getTagName(contributionData.tags[0]).length>0'>
          <span ng-repeat="tag in contributionData.tags">{{getTagName(tag)}}</span>
        </div>


        <md-input-container class="md-block" text="Enter your text here" style="border-width:5px;  border-style:grove;">
          <text-angular ng-model="contributionData.body" class="textAngular"></text-angular>
        </md-input-container>
              

        <!-- attachments -->
        <section>
          <a class='pointer' type="button" ngf-select="uplodateFiles($files, contributionData)" ngf-multiple="true">
                  <i class='fa fa-paperclip'></i>
                <h3 style='display: inline-block;'>
                      Attachments 
                      <small>({{contributionData.attachments.length}} file(s) uploaded)</small>
                </h3>
          </a>
          

         <!--  <input type="file" ngf-select="showUplodatedFiles" ng-model="contributionData.attachments" name="file" ngf-multiple="true"> -->
          <div class="attachments" ng-repeat="attachment in contributionData.attachments">
            <h4 style="color: blue; width: 70%; display: inline-block;"><u>{{ attachment.name }} ({{ attachment.size/1000 }} KB)</u></h4>
            <button style='float: right; display: inline-block;' class="btn btn-xs" ng-click="removeFiles(attachment)">X</button>
          </div>
        </section>

        <!-- tags -->
        <!-- <div class='modal-section1S'>
          <h5> Tags <small>( {{ contributionData._tags.length || 0 }} tag(s) added) </small></h5>
          <tags-input class='tags-input' class="bootstrap"
            type='text'
            ng-model="contributionData._tags"
            display-property='name'
            placeholder="Add a tag"
            replace-spaces-with-dashes="false"
            template='tag-item-template'>
          <auto-complete source="loadTags($query)"
                         min-length="0"
                         debounce-delay="0"
                         max-results-to-show="10000"
                         load-on-down-arrow="true"
                         load-on-focus="true"
                         template="tags-template"></auto-complete>
          </tags-input>
        </div> -->

        <!-- actions -->
        <section layout="row" layout-sm="column" layout-align="center center" layout-margin>
          <md-button class="md-primary md-raised" ng-click='createContribution()' ng-disabled="!(contributionData.body && contributionData.title)" >Save</md-button>
          <md-button class="md-warn raised" ng-click='close()'>Discard</md-button>
        </section>


    </div>

</div>
