<div class='scroll'>

	<!-- back button -->
	<a onclick='history.back()' style='display: block;'><u>Back</u></a>

<!-- 	<div class='linked-post-container ancestor' ng-repeat='ancestor in ancestors | orderBy: "+":reverse ' layout='row' layout-wrap>
		<md-card class='post-details' layout='column' flex ng-click='expand(ancestor.id)'>
			<div class='post-title linked'>{{ancestor.title}} <i style='font-size: 10px'>By {{users[ancestor.createdBy].name}}</i></div>
		</md-card>
	</div> -->

	<!-- parent -->
	<div class='linked-post-container' layout='row' layout-wrap dnd-list dnd-drop='linkNewParent(item)'>
		
		<md-button class="md-mini" aria-label="switch-parent" md-no-ink="false" md-ripple-size="auto" ng-click='parent=parent-1' ng-disabled='parent==0'>
			<ng-md-icon icon="keyboard_arrow_left" size='14' style="fill: #222"></ng-md-icon> 
		</md-button>
		
		<md-card class='post-details' layout='column' flex ng-click='goToNode(post_details.parents[parent].id)'>
			<div class='post-title linked'>{{parent+1}} | {{post_details.parents.length }} {{post_details.parents[parent].title}} <span ng-if='post_details.parents[parent].id==null'>This node has no parents</span></div>
			<div layout="row">
				<img class='author-profile-picture linked' src='users[post_details.parents[parent].createdBy].avatar'>
				<div class='author-name linked'>{{users[post_details.parents[parent].createdBy].name}}</div>
			</div>
		</md-card>
		
		<md-button class="md-mini" aria-label="switch-parent" md-no-ink="false" md-ripple-size="auto" ng-click='parent=parent+1' ng-disabled='parent==post_details.parents.length-1'>
			<ng-md-icon icon="keyboard_arrow_right" size='14' style="fill: #222"></ng-md-icon>
		</md-button>

	</div>

	<!-- main -->
	<div class='post-container' layout='column' dnd-draggable='post_details'>

		<md-card class='post-details' layout='column' flex>
			<div class='post-title main'>{{post_details.type}} : {{ post_details.title }}</div>
			<div class='tags'>
				<span ng-repeat='tag in post_details.tags'>#{{tags[tag.tag_id].name}}</span>
			</div>
			<div layout="row">
				<img class='author-profile-picture main' src='users[post_details.createdBy].avatar'>
				<div class='author-name main'> {{ users[post_details.createdBy].name }}</div>
			</div>

			<md-divider></md-divider>

			<div class='post-body'>	

				<!-- content -->
				<div ng-bind-html='post_details.body'></div>

				<!-- Attachments - if present -->
	            <div class='row' ng-if='post_details.attachments[0].id!=null'>
	                <b>Attachments ({{post_details.attachments.length}} files)</b>
	                <div ng-repeat="attachment in post_details.attachments">
	                  <a href="/api/post_details/{{post_details.id}}/attachments/{{attachment.id}}" target=_blank>
	                    <div class='row'>
	                      <div class='col-xs-2 attachment-thumb' style='background-image: url({{getThumb(post_details.id, attachment.attachment)}});'></div>
	                      <div class='col-xs-10'>
	                          <div class='attachment-details'>
	                            <h6>{{attachment.attachment.name}}</h6>
	                            <div> Size: {{ (attachment.attachment.size/1000000).toFixed(2) }} MB </div>
	                          </div>
	                      </div>
	                    </div>
	                  </a>
	                </div>
	            </div>

	            <!-- post-functions -->
				<div class='post-functions' layout='row' layout-fill>

					<md-button ng-if='post_details.createdBy == user.id && post_details.children[0].id == null;' ng-click='delete(post_details.id)'>DELETE</md-button>

					<div flex='20' style='height: 80px; border: 1px dashed gray; text-align: center; line-height: 80px;'>
						<md-button class="md-mini" ng-disabled="false" aria-label="add a link" md-no-ink="false" md-ripple-size="full">
							Add a link
						</md-button>
					</div>

					<div flex='90' style='padding: 20px;'>
		                
		                <h3><i class='fa fa-comments'></i>&nbsp;&nbsp;&nbsp;Comments</b></h3>


		                <div class="row comment" ng-repeat='reply in post_details.comments | orderBy: dateCreated'>
		                    <div class='row comment-heading'>
		                      <div class='comment-author-name'>
		                          <b>{{users[reply.createdBy].nickname ? users[reply.createdBy].nickname : users[reply.createdBy].name}}</b> says:
		                      </div>
		                      <div class='dateCreated'><time am-time-ago="reply.lastUpdated ? reply.lastUpdated : reply.dateCreated "></time></div>
		                    </div>

		                    <div class='row comment-body pointer' ng-click='setData(reply.id)'>
		                      <div ng-bind-html="reply.body"></div>
		                      <div class='comment-actions' ng-if='reply.createdBy == user.id'>
		                        <!-- <a class='action' ng-click='setData(reply.id)'>[Edit]</a>
		                        <a class='action' ng-click='setData(reply.id)'>[Delete]</a> -->
		                      </div>
		                    </div>
		                </div>
					</div>

				</div>
			</div>




		</md-card>

	</div>

	<!-- children -->
	<div class='linked-post-container' layout='row' layout-wrap>
		
		<md-button class="md-mini" aria-label="switch-child" md-no-ink="false" md-ripple-size="auto" ng-click='child=child-1' ng-disabled='child==0'>
			<ng-md-icon icon="keyboard_arrow_left" size='14' style="fill: #222"></ng-md-icon>
		</md-button>
		
		<md-card class='post-details' layout='column' flex ng-click='setMainPost(post_details.children[child], 1)'>
			<div class='post-title linked'>{{child+1}} | {{post_details.children.length}} {{post_details.children[child].title}} <span ng-if='post_details.children[child].id==null'>This node has no children</span></div>
			<div layout="row">
				<img class='author-profile-picture linked' src='users[post_details.children[child].createdBy].avatar'>
				<div class='author-name linked'>{{users[post_details.children[child].createdBy].name}}</div>
			</div>
		</md-card>
		
		<md-button class="md-mini" aria-label="switch-child" md-no-ink="false" md-ripple-size="auto" ng-click='child=child+1' ng-disabled='child==post_details.children.length-1'>
			<ng-md-icon icon="keyboard_arrow_right" size='14' style="fill: #222"></ng-md-icon>
		</md-button>

	</div>

	<div class='linked-post-container ancestor' ng-repeat='descendant in descendants' layout='row' layout-wrap>
		<md-card class='post-details' layout='column' flex ng-click='expand(ancestor.id)'>
			<div class='post-title linked'>{{post_details.parents[parent].title}} <span ng-if='post_details.parents[parent].id==null'>This node has no parents</span></div>
		</md-card>
	</div>


</div>