
  <h3 class='md-caption'>
    <span ng-if='_dates.length > 0' ng-class=' expired ? "{color: red}" : "" '>{{_dates[0] | date: 'mediumDate' }} - {{_dates[1] | date: 'mediumDate' }}</span>
  </h3>
  <h1 class='md-title'>{{space_name}}</h1>

  <div><span ng-repeat='t in _tags'>#{{ getTagString(t).name }} </span></div>
  
  <!-- button to subscribe | disabled for now -->
  <!-- md-button aria-label="menu" class="md-raised md-warn" ng-disabled='status == 2 || status == 4' ng-click='subscribe()'> Follow </md-button> -->

  <!-- button to fork -->
  <md-button aria-label="menu" class="md-raised md-warn" ng-disabled='status == 3 || status == 4' ng-click='fork()'> Collect </md-button>

  <!-- the space is saved - display extra information -->
  <div ng-if='status > 0'>
    
    <h6 class='md-caption' style='margin-bottom: 0px;'>About this space</h6>
    <div style='font-size: 12px;'>{{about_space}}</div>
    
    <!-- info -->
    <!-- <div>

      <h6 class='md-caption' style='margin-bottom: 0px;'>Founder</h6>
      <div style='font-size: 12px;'><img src={{getAvatar(founder)}} style='border-radius: 50%; display: inline; margin-right: 2px; margin-top: 5px; width: 30px; height: 30px'></div>
      
      <div ng-if='curators.length > 0'>
        <h6 class='md-caption' style='margin-bottom: 0px;'>Curators</h6>
        <div><img ng-repeat='curator in curators' src={{getAvatar(curator)}} style='border-radius: 50%; display: inline; margin-right: 2px; margin-top: 5px; width: 30px; height: 30px'></div>
      </div>

      <div ng-if='followers.length > 0'>
        <h6 class='md-caption' style='margin-bottom: 0px;'>Followers</h6>
        <div><img ng-repeat='follower in followers' src={{getAvatar(follower)}} style='border-radius: 50%; display: inline; margin-right: 2px; margin-top: 5px; width: 30px; height: 30px'></div>
      </div>

    </div> -->

  </div>

  <!-- leaders -->
  <div ng-if="leaders.length > 0">
    <h6 class='md-caption' style='margin-bottom: 0px;'>Leaders</h6>
    <ul style='padding-left: 10px;'><li ng-repeat='leader in leaders' style='font-size: 12px;'><a ui-sref='home.profile-details({"address": leader.handle})'>{{leader.name}}</a></li></ul>
  </div>
