<div layout='column' layout-align='top center'>
    
    <!-- timed tags -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <!-- heading -->
      <h3 class='container-heading'>
          Timed Spaces
          <span class='md-caption' style='float: right' ng-click='subs_expand=!subs_expand'>
            {{ subs_expand ? "Less" : "More"}}
          </span>
      </h3>

      <md-divider md-inset></md-divider>
      
      <!-- results -->
      <div ng-class='subs_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat="space in user.follows | orderBy: '-getStatus(spaces[space.id].timed).time_left'" 
            ng-if='spaces[space.id].timed.length>0' ng-style="getStatus(spaces[space.id].timed).style"> 
            <a ui-sref={{getSpaceURL(space.id)}}>
              <div ng-mouseover="hover=true; status = getStatus(spaces[space.id].timed)" ng-mouseleave="hover=false">
                <div style='padding: 12px; height: auto;' ng-hide='hover'> 
                  <div style='font-size: 12px;margin-bottom: 5px;font-weight: 600;'>Space</div>
                  <div style='font-size: 16px;margin-bottom: 10px;'>{{space.name}}</div>
                  <div style='font-size: 10px;margin: 0px;'>
                      <span ng-repeat="tag in spaces[space.id].tags">#{{tags[tag].name | shorten }} </span>
                  </div>
                </div>
                <div ng-show='hover' style='padding: 12px; height: auto; text-align: center'> 
                  <div style='font-size: 24px;margin-top: 12px;'>{{status.time_left}}</div>
                  <div style='font-size: 12px;margin-bottom: 5px;font-weight: 600;'>{{ status.msg }}</div>
                </div>
              </div> 
            </a>
         </div>
      </div>

    </md-card>

    <!-- subscriptions -->
    <md-card class='shortcut-container swipe-down swipe-up' ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
          All Subscriptions
          <span class='md-caption' style='float: right' ng-click='subs_expand=!subs_expand'>
            {{ subs_expand ? "Less" : "More"}}
          </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='subs_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='space in user.follows'>
            <a ui-sref={{getSpaceURL(space.id)}}>
              <div style='margin: 12px; height: auto;'> 
                <div style='font-size: 12px;margin-bottom: 5px;font-weight: 600;'>Space</div>
                <div style='font-size: 16px;margin-bottom: 10px;'>{{space.name}}</div>
                <div style='font-size: 10px;margin: 0px;'>
                    <span ng-repeat="tag in spaces[space.id].tags">#{{tags[tag].name | shorten }} </span>
                </div>
              </div> 
            </a>
         </div>
      </div>
    </md-card>

    <!-- recent posts -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
                Recent Posts
                <span class='md-caption' style='float: right' ng-click='post_expand=!post_expand'>
                  {{ post_expand ? "Less" : "More"}}
                </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='post_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='post in recentPosts'>
              <a ui-sref='home.node-details({"address" : post.id})'>
                <div style='border: 1px dashed white; margin: 12px; height: auto;'> 
                  <div style='font-size: 16px;margin-bottom: 10px;'>{{ post.title }}</div>
                  <div style='font-size: 12px;margin-bottom: 5px;margin: 0px;'><em>{{post.dateCreated | date : 'mediumDate'}}</em></div>
                </div> 
              </a>
         </div>
      </div>
    </md-card>


    <!-- users online -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
                Online Users
                <span class='md-caption' style='float: right' ng-click='user_expand=!user_expand'>
                  {{ user_expand ? "Less" : "More"}}
                </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='user_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='user in usersOnline'>
              <a ui-sref='home.profile-details({"address" : user.name})'>
                <div style='border: 1px dashed white; margin: 12px; height: auto; text-align: center;'> 
                  <div style='font-size: 16px;margin-bottom: 10px;'>{{ user.name }}</div>
                  <div style='font-size: 12px;margin-bottom: 5px;margin: 0px;'><em>{{user.handle}}</em></div>
                </div> 
              </a>
         </div>
      </div>
    </md-card>
                
</div>