<div layout='column' layout-align='top center'>
    
    <!-- timed tags -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
          Timed Spaces
          <span class='md-caption' style='float: right' ng-click='timed_expand=!timed_expand'>
            {{ timed_expand ? "Less" : "More"}}
          </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='timed_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat="space in user.subscribed_to" ng-show='spaces[space].time'>
            <a ui-sref='home.search-results({"tags": spaces[space].tags.join(","), dates: spaces[space].time.join(",")})'>
              <div style='margin: 12px; height: auto;'> 
                <div style='font-size: 12px;margin-bottom: 5px;font-weight: 600;'>Space</div>
                <div style='font-size: 16px;margin-bottom: 10px;'>{{spaces[space].name}}</div>
                <div style='font-size: 10px;margin: 0px;'>
                    <span ng-repeat="tag in spaces[space].tags">#{{tags[tag].name}} </span>
                </div>
              </div>
            </a>
         </div>
      </div>
    </md-card>

    <!-- subscriptions -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
          Your Subscriptions
          <span class='md-caption' style='float: right' ng-click='subs_expand=!subs_expand'>
            {{ subs_expand ? "Less" : "More"}}
          </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='subs_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='space in user.subscribed_to'>
            <a ui-sref='home.search-results({"tags": spaces[space].tags.join(","), dates: spaces[space].time.join(",")})'>
              <div style='margin: 12px; height: auto;'> 
                <div style='font-size: 12px;margin-bottom: 5px;font-weight: 600;'>Space</div>
                <div style='font-size: 16px;margin-bottom: 10px;'>{{spaces[space].name}}</div>
                <div style='font-size: 10px;margin: 0px;'>
                    <span ng-repeat="tag in spaces[space].tags">#{{tags[tag].name}} </span>
                </div>
              </div> 
            </a>
         </div>
      </div>
    </md-card>

    <!-- recent posts -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
                Recent Posts
                <span class='md-caption' style='float: right' ng-click='post_expand=!post_expand'>
                  {{ post_expand ? "Less" : "More"}}
                </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='post_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='post in recentPosts'>
              <a ui-sref='home.node-details({"address" : post.id})'>
                <div style='border: 1px dashed white; margin: 12px; height: auto;'> 
                  <div style='font-size: 16px;margin-bottom: 10px;'>{{ post.title }}</div>
                  <div style='font-size: 12px;margin-bottom: 5px;margin: 0px;'><em>{{post.dateCreated | date : 'mediumDate'}}</em></div>
                </div> 
              </a>
         </div>
      </div>
    </md-card>


    <!-- users online -->
    <md-card class='shortcut-container swipe-down swipe-up'   ng-hide='searchMode' md-theme="default">
      <h3 class='container-heading'>
                Online Users
                <span class='md-caption' style='float: right' ng-click='user_expand=!user_expand'>
                  {{ user_expand ? "Less" : "More"}}
                </span>
      </h3>
      <md-divider md-inset></md-divider>
      <div ng-class='user_expand ? "full-height" : "fixed-height"' layout='row' layout-wrap layout-fill style='overflow: hidden;'>
         <div class='shortcut-div' ng-repeat='user in usersOnline'>
              <a ui-sref='home.profile-details({"address" : user.name})'>
                <div style='border: 1px dashed white; margin: 12px; height: auto; text-align: center;'> 
                  <div style='font-size: 16px;margin-bottom: 10px;'>{{ user.name }}</div>
                  <div style='font-size: 12px;margin-bottom: 5px;margin: 0px;'><em>{{user.handle}}</em></div>
                </div> 
              </a>
         </div>
      </div>
    </md-card>
                
</div>