<!-- actual graph container -->
<div class='graph-container' ng-init='graphInit();' ng-show='!me.isGuest || (me.isGuest && me.authenticated)'> 

  <div id='level-up' uib-position='bottom'>
        <uib-progressbar class="progress active" max="100" value="value" type="success"><i></i></uib-progressbar>
        <b>Level {{level}}</b>
        <!-- <span style='float:right; max-width: 200px; word-wrap: break-word;'><small>Create a node to reach Level {{level + 1}}!</small></span> -->
  </div>

  <!-- Graph -->
  <div id='cy'></div>

  <!-- sidebar -->
  <div class='graph-controls'>

    <!-- Profile -->
    <img class="graph-nav-control icon" ng-if='!me.isGuest' src={{me.avatar}} uib-tooltip='{{me.nickname ? me.nickname : me.name}}' tooltip-placement='left' ng-click='track("own-profile");showProfile()'></i>
    <a href='/guest'><img class="graph-nav-control icon" ng-if='me.isGuest' src="../assets/images/avatar.png" uib-tooltip='Guest' tooltip-placement='left'></i></a>

    <br>

    <!-- Recent Activity -->
<!--     <i class="graph-nav-control icon fa fa-telegram" ng-if='!me.isGuest' data-toggle="modal" uib-tooltip='Recent Activity' tooltip-placement='left'>
      <span style='position: absolute;top:0px; left: 0px; border: 1px solid green;font-size: 10px;width: 15px; height: 15px;margin: 0px;padding: 0px;color: white; font-weight: 600;line-height: 15px;background-color: rgba(0,256,0, 0.4)' ng-if='me.newactivity !== null'>!</span>
      <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>
    </i>
    <i class="graph-nav-control icon fa fa-telegram" ng-if='me.isGuest' data-toggle="modal" uib-tooltip='Recent Activity' tooltip-placement='left'></i>

    <br> -->

    <!-- Leaderboards & Graph Controls -->
    <i class="graph-nav-control icon fa fa-user" data-toggle="modal" data-target="#userActivityBoard" data-backdrop="static" data-keyboard="false" uib-tooltip='User Activity' tooltip-placement='left' ng-click='track("board-user")'></i>
    <i class="graph-nav-control icon fa fa-group" data-toggle="modal" data-target="#groupActivityBoard" data-backdrop="static" data-keyboard="false"  uib-tooltip='Group Activity' tooltip-placement='left' ng-click='track("board-group")'></i>
    <i class="graph-nav-control icon fa fa-star" data-toggle="modal" data-target="#contributionsActivityBoard" data-backdrop="static" data-keyboard="false"  uib-tooltip='Node Activity' tooltip-placement='left' ng-click='track("board-node")'></i>
    <i class="graph-nav-control icon fa fa-comment" data-toggle="modal" data-target="#commentActivityBoard" data-backdrop="static" data-keyboard="false"  uib-tooltip='Comment Activity' tooltip-placement='left' ng-click='track("board-comment")'></i>
    <!-- <i class="graph-nav-control icon fa fa-filter" data-toggle="modal" data-target="#filterModal" data-backdrop="static" data-keyboard="false" uib-tooltip='Filter Nodes' tooltip-placement='left' ng-click='track("filter")'></i> -->
    <i class="graph-nav-control icon fa fa-plus" ng-if='!me.isGuest' data-toggle="modal" data-target="#newNode" data-backdrop="static" data-keyboard="false" uib-tooltip='New Node' tooltip-placement='left' ng-click='track("new-node");'></i> 
    <i class="graph-nav-control icon fa fa-arrows-alt" ng-click='resetGraph(); zoomLevel=100.00' uib-tooltip='Fit Graph' tooltip-placement='left'></i>
    <i class="graph-nav-control icon fa fa-plus" ng-if='me.isGuest' uib-tooltip='New Node (only open to NUS users)' tooltip-placement='left'></i> 
    <i class="graph-nav-control icon fa fa-question" uib-tooltip='Help' tooltip-placement='left' ng-click='track("help");showHelp();'></i> 
    <i class="graph-nav-control icon fa fa-question" uib-tooltip='Dock' tooltip-placement='left' ng-hide=true></i> 

  </div>

  <!-- information text pane -->
  <div class='info-pane'>

      <div id='brand'>Studionet</div>

      <br>

      <!-- accordian -->
      <uib-accordion close-others="true">
        
        <div uib-accordion-group class="panel-default side-bar" heading="Messages" is-open="true">
            <div id='zoom'><b>Z:</b> {{zoomLevel}} %</div>
            <div> Total Nodes: {{graph.nodes().length}} nodes</div> 
            <div id='message'>{{message}}</div>
        </div>

        <div uib-accordion-group class="panel-default side-bar" heading="Layout: {{layouts[currentLayout].name}}" is-open="false">
              <div class='pointer' ng-repeat='layout in layouts' ng-click='switchLayout(layout.id)'>
                  {{layout.name}}<i class='fa fa-check' ng-if='currentLayout==layout.id' style="float:right"></i>
              </div>
              <hr style='border-bottom: 0px;'>
              <div class='pointer'><a href="https://goo.gl/bo7OtP" target="_blank" style='color: inherit;'>Suggest New</a></div>
        </div>


        <div uib-accordion-group class="panel-default side-bar" heading="Highlighted: {{filters.length ? 'Custom'  : quickfind.name}}">

            

            <div id='filter-shortcuts' ng-show='filters.length>0'>
              
              <h6 id='filter-nodes-count'>{{matchingNodes.length}} matching node(s) found.</h6>
              
              <br>
              <div class='filter-shortcut-container' ng-repeat="filter in filters" style='background-color: rgba(0, 6, 35, 0.9); max-width: 370px; word-wrap: break-word; height: 100%;'>
                  
                  <!-- if filter is an array of values -->
                  <div ng-if='filter.type == "Array"'>
                      <!-- <h6 id='filter-nodes-count'>{{ filter.value.length }} {{filter.name}}(s) selected</h6> -->
                      <h6 class='clear-filter-shortcut' ng-repeat="fval in filter.value track by fval.id" ng-click="clearFilter(filter.code, fval.id)">{{ fval.name }}</h6>
                  </div>
                  
                  <!-- if filter is a range -->
                  <div ng-if='filter.type == "Range"'>
                      <!-- <h6 id='filter-nodes-count' >{{filter.name}} selected</h6> -->
                      <h6 class='clear-filter-shortcut' ng-click="clearFilter(filter.code)">{{filter.value}}</h6>
                  </div>
              </div>
            </div>

            <div ng-if='filters.length == 0'>
              <h6 id='filter-nodes-count'>{{quickFindMatches.length}} matching node(s) found.</h6>
              <div ng-repeat='qf in qfs' ng-click='highlight(qf.id)' class='pointer'>
                  {{qf.name}}<i class='fa fa-check' ng-if='quickfind.id==qf.id' style="float:right"></i>
              </div>
            </div>

            <div class='pointer' data-toggle="modal" data-target="#filterModal" data-backdrop="static" data-keyboard="false">Custom</div>
            <hr style='border-bottom: 0px;'>
            <div><a href="https://goo.gl/bo7OtP" target="_blank" style='color: inherit;''>Suggest New</a></div>
        </div>


        <div uib-accordion-group class="panel-default side-bar" heading="{{nodeInfo == undefined ? 'Node Information' : nodeInfo.title}}" is-open="nodeInfo !== undefined" is-disabled='nodeInfo == undefined'>
            <div id='node-info' ng-show='nodeInfo' style='word-wrap: break-word; height: 100%;'>
              
              <h6>
                <img src='{{usersHash[nodeInfo.createdBy].avatar}}' style='display: inline-block; width: 30px; height: 30px; border-radius: 50%;'> 
                &nbsp;{{nodeInfo.auth}}
              </h6>

              <br ng-if='nodeInfo.outgoers > 0 && nodeInfo.refTitle!=undefined'>

              <h6 ng-if='nodeInfo.outgoers > 0 && nodeInfo.refTitle!=undefined' style='font-weight: 300; line-height: 20px;'>This post is a reply to {{ nodeInfo.refTitle }}.</h6>

              <br>

              <p>
                  <i class='fa fa-calendar'>&nbsp;&nbsp;{{nodeInfo.dateCreated | amCalendar}} </i><br>
                  <i class='fa fa-eye'>&nbsp;&nbsp;{{nodeInfo.views}} views </i><br>
                  <i class='fa fa-star-o'>&nbsp;&nbsp;{{ nodeInfo.rating.toFixed(1) }} rating</i><br>
                  <i class='fa fa-comment'>&nbsp;&nbsp;{{ nodeInfo.comments }} comment(s)</i><br>
                  <i class='fa fa-share-alt'>&nbsp;&nbsp;{{ nodeInfo.incomers/2 }} trail(s)</i><br>
              </p>
            </div>
        </div>

      </uib-accordion>




<!--       <br><br>
      <div>

        <div class="row">
          <input style="border: 1px solid grey;background: #050b27; height: 30px;" placeholder="Search for a node..." ng-model='searchTerm'>
          <span class='pointer fa fa-search' ng-click="searchNode()" ng-if='searchTerm != undefined'></span>
          <span class='pointer fa fa-close' ng-if='searchTerm != undefined && searchTermActive' ng-click='searchTermActive=false;searchTerm=undefined;'></span>
        </div>

        <a class='pointer' href='' style='float:right; color: grey;font-size: 9px;' data-toggle="modal" data-target="#filterModal" data-backdrop="static" data-keyboard="false" >Advanced Search</a>

      </div> -->


     



      <div id='feedback-form' class='pointer'><a href='https://goo.gl/forms/XRWfltHR1MYym4bv2' target='_blank' style="position: fixed; bottom: 30px;color: #969696;">
            Do you have feedback?</a>
      </div>





  </div>
  
  
</div>

<div class='dock' ng-hide=true></div>



<!--- Normal Bootstrap Modals : These modals are faster to load since the same template is being reused again and again -->
<!-- todo: replace with angular-ui boostrap modals -->


<!--- View Modal -->
<!--- Included here to ensure everything is set up and modal loading is fast -->
<ng-include src="'components/nodes/view.html'"></ng-include>

<!--- Included here to ensure everything is set up and modal loading is fast -->
<ng-include src="'components/links/linksModal.html'"></ng-include>
<ng-include src="'components/links/view_links_modal.html'"></ng-include>




<!--- Filter Modal -->
<!--- Included here to ensure everything is set up and modal loading is fast -->
<ng-include src="'components/filters/filter.html'"></ng-include>

<!--- Profile Modal  -->
<!-- Should be placed here because this page gets loaded after resolving all promises for required data -->
<ng-include src="'components/profile/profile.html'"></ng-include>

<!-- Create Contribution Modal -->
<ng-include src="'components/nodes/newnode.html'"></ng-include>

<!-- Leaderboard Modals -->
<ng-include src="'components/boards/users.html'" ng-controller='UserBoardController' ></ng-include>
<ng-include src="'components/boards/nodes.html'" ng-controller='NodeBoardController' ></ng-include>
<ng-include src="'components/boards/comments.html'" ng-controller='CommentBoardController' ></ng-include>
<ng-include src="'components/boards/groups.html'"></ng-include>




<!--- Tags Templates -->
<!-- Chips Template for Create / Edit / Reply Contributions -->
<script type="text/ng-template" id="tags-template">
  <div style="border-bottom: 1px solid #C2BDBD; margin-bottom: 3px;">
        <i class="data.restricted ? icon fa fa-lock : icon fa fa-unlock" ng-if='data.group'></i> 
        <i class="icon fa fa-tag" ng-if='!data.group'></i> 
        <span ng-if='!data.group'>#</span>{{data.name.toLowerCase()}}( <small><i>{{data.contributionCount}} nodes</i></small> )
  </div>
</script>

<!-- Chips Template for Create / Edit / Reply Contributions -->
<script type="text/ng-template" id="tag-item-template">
  <div style='border-radius: 0px'>
        <i class="data.restricted ? icon fa fa-lock : icon fa fa-unlock" ng-if='data.group'></i> 
        <i class="icon fa fa-tag" ng-if='!data.group'></i> 
        <span ng-if='!data.group'>#</span>{{data.name.toLowerCase()}}
  </div>
</script>


