<style>
.tag{
	display: inline-block;
	margin-right: 10px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
}

h3{
	border-bottom: 1px solid black;
}
</style>t

<div class='container' style='padding: 0px 50px;margin-top: -20px; border: 1px solid black;'>
	
	<div class='row'>
		<div class='col-sm-12'>
			<h3>Timed Tags</h3>
			<div scroll-horizontal style='border: 1px solid blue;overflow-x: hidden;'>
				<div style='overflow-x: scroll;width: 10000px;'>
				<div class='tag' my-draggable>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				<div class='tag'>Tag1</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class='row'>
		
		<div class='col-sm-4'>
			<h3>User Profile</h3>
		</div>
		<div class='col-sm-8'>
			<div class='row'>
				<div class='col-sm-12'>
					<h3>Skyline</h3>
					<div class='skyline-container' style='height: 150px; width: 100%;  border: 1px solid black;'></div>
				</div>
				<div class='col-sm-4'>
					<h4>Description of Skyline</h4>
					Cupidatat ut ut enim elit elit ullamco proident enim nisi culpa excepteur mollit duis ut nisi dolor labore duis eiusmod cupidatat sed do eu deserunt do occaecat cupidatat nulla aliqua ut cupidatat est dolore consectetur laborum do est exercitation dolore incididunt aute dolor sit nisi esse est consequat veniam minim mollit voluptate mollit non ea culpa anim et ut ut consectetur sunt tempor sunt occaecat dolore ad cupidatat irure enim sunt ea mollit laborum.
				</div>
				<div class='col-sm-4'>
					<h4>Top Contributor</h4>
				</div>
				<div class='col-sm-4'>
					<h4>Top Posts</h4>
				</div>
			</div>
		</div>




	</div>

	<!-- <tag-container></tag-container> -->
	
</div>
