<div>
    <div text-angular
         ta-toolbar="[['h1','h2','h3','p','pre','quote'], ['bold', 'italics','underline', 'ul', 'ol','justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','html','insertImage', 'insertLink', 'insertVideo']]"
         ng-model='ngModel' ta-text-editor-setup='setup'></div>
</div>


<mentio-menu mentio-for="'htmlContent'"
             mentio-trigger-char="'@'"
             mentio-items="people | filter:label:typedTerm"
             mentio-template-url="/people-mentions.tpl"
             mentio-search="searchPeople(term)"
             mentio-select="getPeopleText(item)">
</mentio-menu>



<script type="text/ng-template" id="/people-mentions.tpl">
    <ul class="list-group user-search">
        <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
            <img ng-src="{{person.imageUrl}}" class="user-photo" style='width: 30px; height: 30px; border-radius: 50%;'>
            <span class="text-primary" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
            
        </li>
    </ul>
</script>