<div>
    <div class="textAngular" text-angular ng-model='ngModel' ta-text-editor-setup='setup' style='background: white;'></div>
</div>


<mentio-menu mentio-for="'htmlContent'"
             mentio-trigger-char="'@'"
             mentio-items="people"
             mentio-template-url="/people-mentions.tpl"
             mentio-search="searchPeople(item)"
             mentio-select="getPeopleText(item)">
</mentio-menu>



<script type="text/ng-template" id="/people-mentions.tpl">
    <div style='max-height: 200px; overflow-y: scroll; margin: 25px;'>
        <div mentio-menu-item="person" ng-repeat="person in items">
            <img ng-src="{{person.avatar}}" class="user-photo" style='width: 30px; height: 30px; border-radius: 50%;'>
            <span class="text-primary" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
        </div>
    </div>
</script>