<style>
.footer{
	height: 150px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #817E7E;
	overflow: hidden;
	font-family: 'Open Sans';
	color: white;
	text-align: center;
	
}

.timeline{
	position: relative;
	height: 120px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.timeline::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

.timeline::-webkit-scrollbar-thumb
{
	background-color: #DCB051;
}

#post-container{
	position: relative;
	width: 10000px;
	height: 100%;
}

.post{
	display: inline-block;
	width: 120px;
	height: 100%;
	margin: 10px 5px;
}

.post-title{
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	margin-bottom: 6px;
}

.draggable{
	width: 30px;
	height: 30px;
	background-color: #E59A2F;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 auto;
}

.post-stats{
	font-family: 'Open Sans';
	font-size: 10px;
	line-height: 12px;	
}

.folders{
	height: 30px;
	text-align: left;
	padding-left: 30px;
	border-bottom: 1px solid white;
}

.folder{
	display: inline-block;
	border: 1px solid white;
	border-radius: 4px;
	margin: 2px;
	padding: 3px 5px;
}

.folder.active{
	background-color: white;
	color: #8F6B15;
	font-weight: 600;
}

</style>

<div class='footer container' ng-controller="shelfController">

 	<div class='row folders'>
 		<div ng-class='folder=="mine" ? "folder active" : "folder"'  ng-repeat='folder in folders'>
 			{{folder}}
 		</div>
 	</div>

 	<div class='row'>
 		<div class='col-sm-11 hidden-xs timeline'>
			<div id='post-container'>
				<div class='post' ng-repeat="post in posts">
					<div class='post-title'>{{post.title}}</div>
					<div class='draggable' ng-click='goToNode(post.id)'></div>
					<div class='post-stats'>
						Views: {{post.views}} <br>
						Rating:  {{post.rating}} <br>
						Bookmarks:  {{post.bookmarks}} <br>
						Reviewed:  {{post.reviewed}} <br>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-1 col-xs-12'>
			<div class='post' style='width: auto; border: 1px dashed white; height: 100%;padding: 10px'>
				<div class='post-title'>Add Post</div>
				<div class='draggable text-center' ng-click='addNode()'><i class='fa fa-plus'></i></div>
			</div>
		</div>
	</div>
</div>