<!-- <md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span flex='90'>Your Notifications</span>
    <md-button flex='10' ng-click='clear()' ng-if='notifications.length > 0'>Clear All</md-button>
  </div>
</md-toolbar> -->

<md-content >
  <md-list flex ng-if='notifications.length > 0' md-padding md-margin style='max-height: 400px; text-align: justify; padding: 10px 20px;'>

    <md-subheader style='padding: 10px;'>Notifications</md-subheader>

    <md-list-item ng-repeat='note in notifications | orderBy: "-time" ' ng-init='user = getUser(note.user);'  style='min-height: 40px;' ng-hide='getContribution(note.contribution) == null'>
      <div class="md-list-item-text" style='font-size: 12px; margin: 0px; padding: 10px 0px 10px 0px'>
        <img ng-src={{user.avatar}} style='width: 30px; height: 30px; border-radius: 50%; display: inline-block; vertical-align: middle;'/>
        &nbsp; &nbsp;{{user.nickname ? user.nickname : user.name}} {{ note.message }} the post titled <span class='pointer' ng-click='goToNode(note.contribution);close();'><a><i><u>{{ getContribution(note.contribution).title }}</u></i></a></span> on {{note.time | date: 'mediumDate'}}
      </div> 

    </md-list-item>

  </md-list>

  <div layout="row" layout-align='center'>
    <md-button ng-click='close()'>Close</md-button>    
    <md-button ng-click='clear()'>Clear All</md-button>
  </div>

  <p style='text-align: center' ng-if='notifications.length == 0'> You are all caught up! </p>

</md-content>
