<!-- <md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span flex='90'>Your Notifications</span>
    <md-button flex='10' ng-click='clear()' ng-if='notifications.length > 0'>Clear All</md-button>
  </div>
</md-toolbar> -->

<md-content layout='column' style='max-width: 500px; max-height: 600px; text-align: justify; padding: 10px 10px;'>
  
  <h3>
    <span ng-if='notifications.length > 0'> Notifications</span>
    <span ng-if='notifications.length == 0'>You are all caught up!</span>
  </h3>

  <md-divider></md-divider>

  <div style='overflow-y: scroll; height: 500px;'>

      <!-- post-functions -->
      <div class='comment' ng-repeat='note in notifications | orderBy: "-time"' ng-init='user = getUser(note.user);' ng-hide='note.contribution == null' layout='row' style='margin: 15px 10px;'>
          
          <div flex='10'>
            <img ng-src={{user.avatar}} style='width: 30px; height: 30px; border-radius: 50%; display: inline-block; vertical-align: middle;margin-top: 20px;'/>
          </div>

          <div flex='90'>
            
            <span style='font-size: 10px; color: #8C8A8A;'>{{note.time | date: 'mediumDate'}}</span><br>
            <b>{{user.nickname ? user.nickname : user.name}}</b> 
            {{ note.message }} the {{ note.contribution.type }} titled <span class='pointer' style='font-size: 12px;' 
            ng-click='note.contribution.type == "comment" ? goToNode(note.contribution.ref): goToNode(note.contribution.id); close();'><a><u>{{ note.contribution.title }}</u></a>
            </span>

          </div>

      </div>
  </div>

  <div layout="row" layout-align='center'>
    <md-button ng-click='close()'>Close</md-button>    
    <md-button ng-click='clear()'>Clear All</md-button>
  </div>

</md-content>


