<div layout='column' style='height: 100%; ' layout-fill>
  
  <!-- toolbar -->
  <md-toolbar class="scroll-shrink" id="toolbar">
    
    <div class="md-toolbar-tools" layout-align='top center'>
      
      <!-- Show / Hide Workbench control -->
      <div flex="5">
        <ng-md-icon class='pointer' icon="dehaze" style="fill: white" size="25" ng-click="showBench=!showBench"></ng-md-icon> 
      </div>

      <!-- Branding -->
      <div hide show-gt-xs flex-gt-sm="10" layout-align='top left'>
        <span md-truncat>Studionet</span>
      </div>

      <!-- search bar (depends on state) -->
      <div show-gt-sm flex="70" ng-controller='CustomInputDemoCtrl as ctrl'>
        
        <div layout="row">

          <md-chips flex='70' ng-model="query.tags" md-autocomplete-snap
                    md-transform-chip="ctrl.transformChip($chip)"
                    md-require-match="true">
            
            <md-autocomplete
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.name"
                placeholder="Search for a tag...">
              <span md-highlight-text="ctrl.searchText" flex>{{item.name}}</span>
            </md-autocomplete>

            <md-chip-template>
              <strong>#{{$chip.name}}</strong>
            </md-chip-template>

          </md-chips>

          <div flex='30'>
            <md-datepicker ng-model="query.dates[0]"></md-datepicker>
            <md-datepicker md-min-date="query.dates[0]" ng-model="query.dates[1]" md-placeholder="Enter date"></md-datepicker>
            <md-button class='raised' ng-click='goToSpaceWithArgs(query)' style='display: inline; color: black' ng-disabled="query.tags.length==0">Search</md-button>
          </div>

        </div>
      
      </div>


      <!-- buttons -->
      <div flex="10">

        <md-button class="md-icon-button" aria-label="Search" ng-disabled="false" ng-hide='searchActive'>
          <a ui-sref='home.search'><ng-md-icon icon="search" style="fill: white" size="25"></ng-md-icon></a>
          <md-tooltip
            md-direction="bottom">
            Search
          </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Home" ng-disabled="false" ng-click='showProfile()'>
          <a ui-sref='home.homepage'><ng-md-icon icon="home" style="fill: white" size="25"></ng-md-icon></a>
          <md-tooltip
            md-direction="bottom">
            Home
          </md-tooltip>
        </md-button>
        
      </div>

    </div>

  </md-toolbar>


  <!-- main body container -->
  <md-content id='app-body' layout="row" flex>

      <!-- workbench -->
      <!-- this slides in and out depending on the showBench value -->
      <div id='workbench-container' ng-class='showBench ? "expand": "compress" ' layout='column' style='height: 100%; ' layout-fill>
        <ng-include src="'./components/skeleton/workbench.html'" id='workbench' ng-controller="WorkbenchCtrl as bench"></ng-include>
      </div>
      
      <!-- states -->
      <div flex>
        <div layout='column' layout-align='top left' layout-fill layout-padding>
          <!-- view-container: centers the content -->
          <ui-view class='view-container'></ui-view>
        </div>
      </div>

  </md-content>

</div>

