<div layout='column' style='height: 100%; ' layout-fill>
  
  <!-- toolbar -->
  <md-toolbar class="scroll-shrink" id="toolbar">
    
    <div class="md-toolbar-tools" layout-align='top center'>
      
      <!-- Show / Hide Workbench control -->
      <div flex="5">
        <ng-md-icon class='pointer' icon="dehaze" style="fill: white" size="25" ng-click="showBench=!showBench"></ng-md-icon> 
      </div>

      <!-- Branding -->
      <div hide show-gt-xs flex-gt-sm="15" layout-align='top left'>
        <a ui-sref='home.homepage'><span md-truncat>Studionet</span></a>
      </div>

      <!-- search bar (depends on state) -->
      <div show-gt-sm flex="80">
        <ng-include src="'./components/skeleton/searchbar.html'" ng-controller="searchbarCtrl as ctrl"></ng-include>
      </div>


      <!-- buttons -->
      <div flex="0">

        <!-- <md-button class="md-icon-button" aria-label="Search" ng-disabled="false" ng-hide='searchActive'>
          <a ui-sref='home.search'><ng-md-icon icon="search" style="fill: white" size="25"></ng-md-icon></a>
          <md-tooltip
            md-direction="bottom">
            Search
          </md-tooltip>
        </md-button> -->

        <!-- <md-button class="md-icon-button" aria-label="Home" ng-disabled="false" ng-click='showProfile()'>
          <a ui-sref='home.homepage'><ng-md-icon icon="home" style="fill: white" size="25"></ng-md-icon></a>
          <md-tooltip
            md-direction="bottom">
            Home
          </md-tooltip>
        </md-button> -->
        
      </div>

    </div>

  </md-toolbar>


  <!-- main body container -->
  <md-content id='app-body' layout="row" flex>

      <!-- workbench -->
      <!-- this slides in and out depending on the showBench value -->
      <div id='workbench-container' ng-class='showBench ? "expand": "compress" ' layout='column' style='height: 100%; ' layout-fill>
        <ng-include src="'./components/skeleton/workbench.html'" id='workbench' ng-controller="WorkbenchCtrl as bench"></ng-include>
      </div>
      
      <!-- states -->
      <div flex>
        <div layout='column' layout-align='top left' layout-fill layout-padding>
          <!-- view-container: centers the content -->
          <ui-view class='view-container'></ui-view>
        </div>
      </div>

  </md-content>

</div>

