<div layout='column' style='height: 100%; ' layout-fill>
  
  <!-- toolbar -->
  <md-toolbar class="scroll-shrink md-accent" id="toolbar">
    
    <div class="md-toolbar-tools" layout-align='top center'>
      
      <!-- Show / Hide Workbench control -->
      <div flex="5">
        <ng-md-icon class='pointer' icon="dehaze" style="fill: white" size="25" ng-click="showBench=!showBench"></ng-md-icon> 
      </div>

      <!-- Branding -->
      <div hide show-gt-xs flex-gt-sm="15" layout-align='top left'>
        <a ui-sref='home.homepage'><span md-truncat>Studionet</span></a>
      </div>

      <!-- search bar (depends on state) -->
      <div show-gt-sm flex="75">
        <ng-include src="'./components/skeleton/searchbar.html'" ng-controller="searchbarCtrl as ctrl"></ng-include>
      </div>

      <div flex="5">
        <a href='/logout'>
            <ng-md-icon class='pointer' icon="logout" style="fill: white" size="25"></ng-md-icon> 
        </a>
      </div>

    </div>

  </md-toolbar>


  <!-- main body container -->
  <md-content id='app-body' layout="row" flex layout='start start'>

      <!-- workbench -->
      <!-- this slides in and out depending on the showBench value -->
      <div id='workbench-container' ng-class='showBench ? "expand": "compress" ' layout='column'>
        <ng-include id='workbench' ng-controller="WorkbenchCtrl as bench" src="'./components/skeleton/workbench.html'"></ng-include>
      </div>
      
      <!-- states -->
      <div layout='column' layout-align='start stretch' flex>
        <!-- view-container: centers the content -->
        <ui-view class='view-container main' ></ui-view>
      </div>

  </md-content>

</div>

