<!-- header toolbar -->
<!-- user details come from the skeleton : fix later -->
<md-toolbar class='md-hue-2 profile-header' layout='column'>

    <div class='md-accent band pointer'>

        <div class='action' style='position: absolute; right: 10px; top: 10px;' ng-click='bench.editProfile()'>
                <ng-md-icon icon="mode_edit" size='15' style="fill: #5A5A5A"></ng-md-icon>
                <md-tooltip md-delay='150' md-direction="bottom">Edit</md-tooltip>
        </div>

        <a ui-sref='home.profile-details({address: user.id})'>

          <div layout='row' layout-fill layout-margin>
            <div><img style='border-radius: 50%; width: 40px; height: 40px;' src='{{user.avatar}}'></div>
            <div>
                <div class='header' style='margin-top: 0px; margin-left: 5px;'>{{user.nickname ? user.nickname : user.name}}</div>
                <div class='subheader' style='margin-top: 0px; margin-left: 5px;'>{{user.points | level}}</div>
            </div>
          </div>
        </a>

        <md-divider style="margin-bottom: 10px;"></md-divider>

        <div class='stats md-hue-3' layout='row' layout-align='center'>
            <div flex>
              <ng-md-icon icon="book" size='14' style="fill: #AFAFAF"></ng-md-icon>{{user.contributions.length}}
              <md-tooltip md-delay='150' md-direction="bottom">Posts & Comments</md-tooltip>
            </div>
            <div flex>
              <ng-md-icon icon="visibility" size='14' style="fill: #AFAFAF"></ng-md-icon>{{ user.views }}
              <md-tooltip md-delay='150' md-direction="bottom">Views</md-tooltip>
            </div>
            <div flex>
              <ng-md-icon icon="thumb_up" size='14' style="fill: #AFAFAF"></ng-md-icon> {{ user.likes }}
              <md-tooltip md-delay='150' md-direction="bottom">Likes</md-tooltip>
            </div>
            <div flex>
              <ng-md-icon icon="bookmark" size='14' style="fill: #AFAFAF"></ng-md-icon> {{ user.bookmarks }}
              <md-tooltip md-delay='150' md-direction="bottom">Bookmarks</md-tooltip>
            </div>
            <div flex ng-click='bench.showNotifications()' ng-class="user.notifications.length > 0 ? 'selected' : 'unselected'">
              <ng-md-icon icon="notifications" size='14' style="fill: #AFAFAF" ng-if='user.notifications == null || user.notifications.length == 0'></ng-md-icon>
              <ng-md-icon icon="notifications" size='20' style="fill: #AFAFAF" ng-if='user.notifications.length > 0'></ng-md-icon>
              <md-tooltip md-delay='150' md-direction="bottom">Notifications</md-tooltip>
            </div>
        </div>
    </div>

</md-toolbar>
<div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 100%; height: 600px;">
<!-- content -->
<md-content dnd-list dnd-drop='callback()' dnd-allowed-types="['space']">

  <div class='profile-posts' layout='column'>

    <md-divider></md-divider>

    <!-- User Contributions -->
    <div>
      <div class='header'>
          My Contributions
      </div>

      <md-divider></md-divider>

      <div class='folder-notes'>

        <!-- posts -->
        <div class='folder'>
            <div class='folder-title pointer' ng-class='status.status' ng-click='bench.toggleMyNodes(1)'>
                  My Posts
                  <a ui-sref='home.node({type:"note"})'>
                    <ng-md-icon icon="add" size='18' style="fill: green"></ng-md-icon>
                  </a>

                  <a style='float: right' >
                      <ng-md-icon icon="keyboard_arrow_down" size='14' style="fill: black" ng-if='!(bench.my_nodes == 1)'></ng-md-icon>
                      <ng-md-icon icon="keyboard_arrow_up" size='14' style="fill: black" ng-if='bench.my_nodes == 1'></ng-md-icon>
                  </a>
            </div>

            <div class='folder-notes' ng-class='bench.my_nodes == 1 ? "open" : "close" '>
                <md-card class='post-box move' ng-class='node.tags.length ? "published" : "unpublished" ' 
                    ng-repeat='node in user.contributions | orderBy: "created_on":true | filter: {type: "!comment"} as main_posts' 
                    ng-click='node.type=="comment" ? goToNode(node.ref) : goToNode(node.id)' dnd-draggable='node'  dnd-type="'post'" ng-style=' bench.isRecent(node) ? {"background-color": "#92E17A"} : {}'>
                    <div class='title'>
                      {{node.title}}
                      <md-tooltip md-delay='150' ng-if='node.tags.length == 0 && !bench.isRecent(node)' class="tooltip" md-direction="bottom" style='height: auto'>
                          Status: Unpublished
                      </md-tooltip>
                      <md-tooltip md-delay='150' ng-if='bench.isRecent(node)' class="tooltip" md-direction="bottom" style='height: auto'>
                          You just created this node
                      </md-tooltip>
                    </div>
                </md-card>

                <div style='text-align: center;  margin-top: 20px;' ng-if='main_posts.length == 0'> Oops.. no posts yet! </div>
            </div>
        </div>

        <!-- comments -->
        <div class='folder'>
            <div class='folder-title pointer' ng-class='status.status' ng-click='bench.toggleMyNodes(2)'>
                  My Comments
                  <a style='float: right' >
                      <ng-md-icon icon="keyboard_arrow_down" size='14' style="fill: black" ng-if='!(bench.my_nodes == 2)'></ng-md-icon>
                      <ng-md-icon icon="keyboard_arrow_up" size='14' style="fill: black" ng-if='bench.my_nodes == 2'></ng-md-icon>
                  </a>
            </div>

            <div class='folder-notes' ng-class='bench.my_nodes == 2 ? "open" : "close" '>
              <md-card class='post-box'
                  ng-repeat='node in user.contributions | orderBy: "created_on":true | filter: {type: "comment"} as com_posts'
                  ng-click='goToNode(node.ref)' ng-style=' bench.isRecent(node) ? {"background-color": "#92E17A"} : {}'>
                  <div class='title'>
                    {{node.title}}
                  </div>
              </md-card>
              <div style='text-align: center;  margin-top: 20px;' ng-if='com_posts.length == 0'> Oops.. no comments yet! </div>
            </div>
        </div>

      </div>
    </div>

    <md-divider></md-divider>

    <!-- Timed Spaces -->
    <div>
      <div class='header'>
          Spaces
      </div>

      <md-divider></md-divider>

      <div class='folder-notes'>
        <div class='folder' ng-init='status = bench.getTimeTillExpiry(fork)' ng-repeat='fork in user.forked | orderBy: ["priority", "daysLeft"]' ng-if='fork.id !== null'>
            <div class='folder-title pointer' ng-class='status.status' ng-click='bench.openFork(fork.id)'>
                  {{fork.name}}
                  <md-tooltip md-delay='150' class="tooltip" md-direction="bottom" style='height: auto'>
                      {{status.msg}}
                  </md-tooltip>
                  <a style='float: right'>
                      <ng-md-icon icon="keyboard_arrow_down" size='14' style="fill: black" ng-if='show!=fork.id'></ng-md-icon>
                      <ng-md-icon icon="keyboard_arrow_up" size='14' style="fill: black" ng-if='show==fork.id'></ng-md-icon>
                  </a>
            </div>

            <div class='folder-notes' ng-class='bench.show == fork.id ? "open" : "close" '
                dnd-list dnd-drop='bench.addNodeToFork(item, fork)'  dnd-allowed-types="['post']">

                <div style='display: block; border-bottom: 1px solid #ddd; text-align:right;'>
                  <a class='pointer' style='float: left; font-size: 10px;text-decoration: underline;' ng-click='goToSpace(fork.id)'>[Go to space]</a>
                  <!-- <ng-md-icon icon="open_in_new" size='14' style="fill: #444"  ></ng-md-icon> -->
                  <ng-md-icon icon="delete" size='14' style="fill: #444" ng-click='bench.deleteFork(fork.id)'></ng-md-icon>
                </div>

                <md-card class='post-box' ng-class='posts[node_id].type' ng-repeat='node_id in fork.posts' ng-click='goToNode(node_id)' dnd-draggable='posts[node_id]' dnd-type="'post'">
                    <div class='title'>{{ posts[node_id].title }}</div>
                    <span ng-click='bench.removeFromFork($event, fork.id, node_id)' style='position: absolute; bottom: 0px; right: 5px; color: black; font-weight: 600; z-index: 3;'>x</span>
                </md-card>

            </div>

        </div>
      </div>
    </div>


    <md-divider></md-divider>


  </div>

</md-content>
</div>
