.md-datepicker-input-container{
  display: none;
}

md-content{
  background: transparent;
}

.md-show{
  height: auto;
}

.md-chips{
  font-size: 14px;
  box-shadow: none;
  float: left;
}

div.md-chip-content{
  display: inline-block;
}

div.md-chip-remove-container{
  display: inline-block;

  md-icon{
    height: 14px;
    width: 14px;
  }

  button{
    border-radius: 50%;
    padding: 0px;
  }
}

md-chips{
  height: $toolbar-height;
}