// Animations
.ng-enter{
    animation: 1.0 slideIn;
}

.ng-leave{
    animation: 1.0 slideOut;
}


@keyframes accordian-slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.main.ng-enter {
    /* transition on enter for .5s */
    transition: 2s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
.main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}



.fade.ng-enter {
  transition: 1s linear all;  
  opacity: 1;
}

.fade.ng-enter-active {
  opacity: 0;
}