$border-color: #f2f2f2;
$badge-border: #B22222;
$progress-bar : rgb(255, 64, 0);
$progress-bar-bar : rgb(255, 128, 0);

@import 'tagCloud';

.profile-card{
  padding: $max-padding/2;

  .headline{

      border-bottom: 1px solid gray;

      h1{
        span{
          font-family: $header-font;
          font-size: 12px;
          margin-left: 20px;
        }
      }
  }

  .profile-img-sm{
    width: $profile-height-sm;
    height: $profile-width-sm;
    border-radius: 50%;
  }

  .detailContainer{

  }

  .topmargin{
    margin-top: 20px;
  }

  .selected {
    font-weight: 600;
    border: 1px solid green;
  }

}


.badge {
    border-radius: 25px;
    background: #ffffff;
    padding: 40px;
    width: 80px;
    border: 2px solid $badge-border;
    height: 60px;
}


.rcornertop {
    border-radius: 25px;
    border: 2px solid $border-color;
  /*  padding: 20px;*/
    height: 50px;
}

.rcornermiddle {
    border-radius: 25px;
    border: 2px solid $border-color;
    /* padding: 20px;
    width: auto;
    height: auto; */
}

.rcornerTopPost {
    border-radius: 25px;
    border: 2px solid $border-color;
    padding: 20px;
    height: 400px;
}

.rcornerbottom {
    border-radius: 25px;
    border: 2px solid $border-color;
    /* padding: 20px;
    width: 720px;
    height: 200px; */
}

.rcornerbadgeTopPost {
    border-radius: 25px;
    border: 2px solid $border-color;
    padding: 15px;
    /* width: 80px;
    height: 60px; */
}

/* #left {
    float:left;
    width:100px;
} */
.progressLinear md-progress-linear {
  margin-top: 10px;
}

#center {
    display: inline-block;
    width:100px;
}

#right {
    float:right;
    width:100px;
}


#separation {
    height: 80px;
}

.coin p{
  font-family: $text-font;
  font-style: italic;
  position: absolute;
  font-size: 28px;
  z-index: 700;
  top: -19px;
  left: 19px;
  }

.coin.bronze p{  color: rgba(223,182,103,1);}
.coin.silver p{  color: rgba(160,160,160,1);}
.coin.gold p{  color: rgba(242,215,50,1);}

.coin{
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  }

.bronze{
  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
  }


.silver{
  background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
  }


.gold{
background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
}

