$border-color: #f2f2f2;
$badge-border: #B22222;
$progress-bar : rgb(255, 64, 0);
$progress-bar-bar : rgb(255, 128, 0);

@import 'tagCloud';

.profile-container{

    font-size: 12px;
    font-family: $text-font;
    color: #929191;

    .profile-card{
      padding: $max-padding/2;
      max-height: 80%;
      overflow: hidden;

      .headline{

          h1{
            span{
              font-family: $header-font;
              font-size: 12px;
              margin-left: 20px;
            }
          }
      }

      .section{
        margin-top: 30px;
      }   
      
      md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar{
        background-color: #5079F0;
      }

      md-progress-linear .md-container{
        border: 1px solid #9398F9;
      }


      .level{
        background-color: #C7C4C4;
        padding: 2px 10px;
        color: gray;
        border-right: 1px solid white;
        vertical-align: middle;
  
        &.current {
          font-weight: 600;
          background-color: #C8C5C5;
          color: blue;
          border: 1px solid #333232;
        }

        &.achieved{
          background-color: #DDD;
          color: green;
        }

        &.pending{
          background-color: #AEAEAE;
          color: #8E8D8D;
        }

      }

    }

}




.badge {
    border-radius: 25px;
    background: #ffffff;
    padding: 40px;
    width: 80px;
    border: 2px solid $badge-border;
    height: 60px;
}


.rcornertop {
    border-radius: 25px;
    border: 2px solid $border-color;
  /*  padding: 20px;*/
    height: 50px;
}

.rcornermiddle {
    border-radius: 25px;
    border: 2px solid $border-color;
    /* padding: 20px;
    width: auto;
    height: auto; */
}

.rcornerTopPost {
    border-radius: 25px;
    border: 2px solid $border-color;
    padding: 20px;
    height: 400px;
}

.rcornerbottom {
    border-radius: 25px;
    border: 2px solid $border-color;
    /* padding: 20px;
    width: 720px;
    height: 200px; */
}

.rcornerbadgeTopPost {
    border-radius: 25px;
    border: 2px solid $border-color;
    padding: 15px;
    /* width: 80px;
    height: 60px; */
}

/* #left {
    float:left;
    width:100px;
} */
.progressLinear md-progress-linear {
  margin-top: 10px;
}




/* .coin p{
  font-family: $text-font;
  font-style: italic;
  position: absolute;
  font-size: 28px;
  z-index: 700;
  top: -19px;
  left: 19px;
  } */
/* 
.coin.bronze p{  color: rgba(223,182,103,1);}
.coin.silver p{  color: rgba(160,160,160,1);}
.coin.gold p{  color: rgba(242,215,50,1);}

.coin{
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  }

.bronze{
  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
  }


.silver{
  background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
  }


.gold{
background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
}
 */
