.post-view-section{
	max-width: 950px;
	margin: 0 auto;

	.linked-post-container{
		height: 80px;

		.dndPlaceholder{
			border: 1px dashed gray;
		}

		&.ancestor{
			height: 40px;
			margin: 10px !important;
			display: inline-block;
			width: 200px;
		}

		.md-mini{
				border: 1px solid black;
				display: inline;
				width: 10px;
		}

		.nav-btn{
			background-color: #8A8989;
			width: 10px;

			&.clear{
				background-color: white !important;
			}
		}

		.nav-btn:hover{
			background-color: #4C4848;
		}

	}

	.side-details{

		overflow: hidden;
		height: 80%;
		margin-top: -7px;

		.container{
			position: absolute;
			max-width: 200px;
			border: 2px solid #D9D9D9;
			overflow: auto;
			height: inherit;
		}


		.author-profile-picture{
			margin: 5px;
			display: inline;
			border-radius: 50%;
			vertical-align: middle;

			&.main{
				width: 30px;
				height: 30px;
			}

			&.linked{
				width: 15px;
				height: 15px;
				display: none;
			}
		}

		.author-name{
			margin: 5px;
			display: inline;
			height: 30px;


			&.main{
				line-height: 18px;
				font-size: 14px;
			}

			&.linked{
				line-height: 15px;
				font-size: 12px;
				display: none;
			}
			
		}

		.post-actions{
			background: rgba(184, 181, 181, 0.6);
			z-index: 1;

			.action{
				display: inline-block;
				margin: 10px;
				cursor: pointer;
				svg{
					fill: rgba(29, 31, 41, 0.5);
				}

				&.selected {
					svg{
						fill: blue !important;
					}
				}
			}

			.action:hover{
				svg{
					fill: #6E6EE6 !important;
				}
			}

		}

		.post-actions:hover{
			background: rgba(184, 181, 181, 0.7);
			z-index: 2;

			.action{
				svg{
					fill: rgba(29, 31, 41, 1);
				}
			}

		}

		.linked-post-container{

		}
	}

	.post-details{

		position: relative;

		margin: 0px;
		padding: 15px 20px;

		.post-title{
			@extend .header;

			margin-bottom: 10px;
			padding: 0px !important;

			&.main{
				margin: 0px 0px 10px 0px !important;
				font-size: 24px;
				line-height: 36px;
			}

			&.linked{
				margin: 0px 0px 0px 0px !important;
				font-size: 14px;
				overflow: auto;
			}

		}

		.post-subtitle{
			font-size: 12px;
			line-height: 14px;
			color: gray;
		}

		.post-body{

			margin: 10px 0px 30px 0px;
			
			p{
				font-size: 14px;
				line-height: 24px;
				text-align: justify;
				font-family: $text-font;
			}

			img{
				width: auto;
				max-width: 100%;
				max-height: 450px;
				display: block;
				margin: 10px auto;
				border: 1px solid gray;
			}
		}
	}

	.post-container{
		
		position: relative;

		.tags{
			margin-bottom: 10px;
		}
		
	}

	.comment{
		margin-bottom: 5px;
		margin-top: 5px;

		font-size: 12px;
		color: #5D5D5D;
	}

}

#commentDialog{

	.textAngular .btn-toolbar{
		display: none;
	}

	.ta-editor.ta-html, .ta-scroll-window.form-control{
		min-height: 100px;
		height: 100px;
	}
}