html, body {
  background-color: #E8E8E8;
  height: 100%;
  width: 100%;
  overflow: auto; }

.container {
  margin: 60px;
  padding: 5%;
  width: 780px;
  border: 2px solid #B22222;
  text-align: left;
  background: #525264; }

.badge {
  border-radius: 25px;
  background: #ffffff;
  padding: 40px;
  width: 80px;
  border: 2px solid #B22222;
  height: 60px; }

md-card.md-default-theme .md-card-image, md-card .md-card-image {
  border-radius: 25px 25px 0 0; }

.rcornertop {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  padding: 20px;
  width: 720px;
  height: 150px; }

.rcornermiddle {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  padding: 20px;
  width: auto;
  height: auto; }

.rcornerTopPost {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  padding: 20px;
  width: 720px;
  height: 400px; }

.rcornerbottom {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  padding: 20px;
  width: 720px;
  height: 200px; }

.rcornerbadgeTopPost {
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  padding: 20px;
  width: 80px;
  height: 60px; }

.progress-bar {
  width: 720px;
  height: 18px;
  border-style: solid;
  border-width: 1px;
  /*border-radius: 8px;*/
  background-color: #ff4000;
  border-color: #aaa; }

.progress-bar-bar {
  width: 0px;
  background-color: #ff8000;
  height: 100%;
  color: #fff;
  font-weight: normal; }

#left {
  float: left;
  width: 100px; }

#center {
  display: inline-block;
  width: 100px; }

#right {
  float: right;
  width: 100px; }

#detailContainer {
  width: 100%; }

#separation {
  height: 80px; }

.headline {
  font-family: Calibri, "Helvetica", san-serif;
  line-height: 1em;
  color: white;
  font-size: 20px; }

h1:after {
  content: ' ';
  display: block;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

/* fonts */
.cloud-container {
  align-items: center;
  align-content: space-between; }

div.custom-1 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal; }

div.custom-1 a {
  font-size: inherit;
  text-decoration: none; }

div.custom-1 span.w10 {
  font-size: 550%; }

div.custom-1 span.w9 {
  font-size: 500%; }

div.custom-1 span.w8 {
  font-size: 450%; }

div.custom-1 span.w7 {
  font-size: 400%; }

div.custom-1 span.w6 {
  font-size: 350%; }

div.custom-1 span.w5 {
  font-size: 300%; }

div.custom-1 span.w4 {
  font-size: 250%; }

div.custom-1 span.w3 {
  font-size: 200%; }

div.custom-1 span.w2 {
  font-size: 150%; }

div.custom-1 span.w1 {
  font-size: 100%; }

/* colors */
div.custom-1 {
  color: #09f; }

div.custom-1 a {
  color: inherit; }

div.custom-1 a:hover {
  color: #0df; }

div.custom-1 a:hover {
  color: #0cf; }

div.custom-1 span.w10 {
  color: grey; }

div.custom-1 span.w9 {
  color: #0cf; }

div.custom-1 span.w8 {
  color: #0cf; }

div.custom-1 span.w7 {
  color: #39d; }

div.custom-1 span.w6 {
  color: #90c5f0; }

div.custom-1 span.w5 {
  color: #90a0dd; }

div.custom-1 span.w4 {
  color: purple; }

div.custom-1 span.w3 {
  color: green; }

div.custom-1 span.w2 {
  color: blue; }

div.custom-1 span.w1 {
  color: red; }

/* layout */
div.ng-tag-cloud {
  overflow: hidden;
  position: relative; }

div.ng-tag-cloud span {
  padding: 0; }

/*# sourceMappingURL=profile.css.map */
