$bg-color: #E8E8E8;
$border-color: #B22222;
$container-background: #525264;

html, body{
  background-color: $bg-color;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  margin: 60px ;
  padding: 5%;
  width: 780px;
  border: 2px solid $border-color;
  text-align: left;
  background: $container-background;
}


@import 'profileDesigns';
@import 'tagCloud'