<style>

html, body{
	position: relative;
	height: 100%; 
	width: 100%;	
	background-color: #E8E5E5;
	text-align: justify;
	color: #353535;
}

.vertical-text {
	writing-mode: vertical-lr;
}

.row{
}

.header{
/*	height: 45px;*/
	line-height: 45px;
	color: #4D4D4D;
	text-align: center;
}

.light-bg{
	background-color: #FFFCF9;
}

.branding{
	font-size: 18px; 
	font-weight: 600;
}

.summary{
	border: 1px solid #5A5959; 
	border-radius: 35px;
	padding: 20px 15px 15px 15px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
}

.section-heading{
	text-transform: uppercase;
	margin-bottom: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
	color: #403F3F;
}

h5.section-heading{
	font-size: 16px;
}

h3.section-heading{
	font-size: 20px;
	width: 100%;
}

h6.subsection-heading{
	font-size: 12px;
	text-transform: uppercase;
	background-color: #E8B438;
	margin-bottom: 4px;
	cursor: pointer;
	padding: 5px;
}

button#dropdownMenuButton{
	background: none; 
	font-size: 14px; 
	border-color: #5A5959: 
	padding: 4px 10px;
}

div.dropdown-menu{
	background-color: #F0DFC8;
}
.no-margin-padding{
	margin: 0px;
	padding: 0px;
}

.search-results{
	text-align: center;
}

.search-result{ 
	height: 200px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); z-index: 2; }

.linear-show { transition: all 0.3s ease-in-out; }
.linear-show:hover { transform: translate(0px, -120px);; }

.card{
	background-color: #C3873A;
	cursor: pointer;
}

.fa{
	line-height: 45px;
	font-size: 20px;
	cursor: pointer;
}


.main-container{
	padding: 30px 15px 30px 15px
}

.timed-tags{
	position: relative;
}

.timed-tag-container{
	float: right;
	font-size: 12px;
	text-align: center;
	margin-left: 20px;
}

.timed-tag{
	border: 1px solid grey;
	padding: 2px 10px; 
	background: #C3873A;
	display: inline-block;
	cursor: pointer;
}

.show-on-hover{ display: none; };
.timed-tag-container:hover .show-on-hover{ display: inline; }
.timed-tag-container:hover .hide-on-hover{ display: none; }


.badge{
	background: grey;
	margin-left: 10px;
	margin-top: -5px;
}

a{
	color: #292828;
}

a:hover{
	text-decoration: none;
	color: #292828;
}

.card-title{
	font-size: 16px;
}

.card-subtitle{
	font-size: 12px;
}

.pointer{
	cursor: pointer;
}

</style>

<div class='container'>

	<div class='row header'>
		
		<div class='col-sm-1 branding pointer'>
			<a ui-sref='home({tags: null})'>Studionet</a>
		</div>

		<div class='col-sm-9'>
<!-- 				<tags-input class='tags-input' class="bootstrap"
	                type='text'
	                ng-model="location"
	                display-property='name'
	                placeholder="Add a tag"
	                replace-spaces-with-dashes="false"
	                template='tag-item-template'>
	              	<auto-complete source="loadTags($query)"
	                             min-length="0"
	                             debounce-delay="0"
	                             max-results-to-show="10000"
	                             load-on-down-arrow="true"
	                             load-on-focus="true"
	                             template="tags-template"></auto-complete>
              	</tags-input> -->

			<div class="input-group" style='height: 35px; margin-top: 5px; margin-bottom: 5px;'>
			  <input type="text" ng-model='searchedTags' class="form-control" placeholder="Search for a tag..." aria-describedby="basic-addon1" style='background-clip: border-box;border-radius: 0px;'>
			  <span class="input-group-addon" id="basic-addon1"><i class='fa fa-search'></i></span>
			</div>
		</div>
		
		<div class='col-sm-2'>
			<i class='fa fa-2x fa-user-circle-o' style='margin-left: 20px;'></i>
			<i class='fa fa-2x fa-asterisk'  style='margin-left: 20px;'></i>
			<div class='fa fa-2x fa-bell-o'  style='margin-left: 20px;'></div>
		</div>

	</div>

	<div class='row main-container light-bg'>
		
		<!-- <div class='side-bar vertical-text col-sm-1'>
			<span class='light-bg'>Home</span>
		</div> -->

		<div class='results col-sm-12'>

			<div class='row' style='margin-bottom: 20px; border-bottom: 1px solid grey;' ng-show='home'>
				<div class='col-sm-3'>
					<h3 class='section-heading' style='border: none;'>
						My Subscriptions
					</h3>
				</div>
				<div class='col-sm-9'>
					<div class='timed-tags'>
						<div class='timed-tag-container' ng-repeat="tag in timedTags">
								<span class='timed-tag'><a ui-sref='home({tags: tag.name.join("+") })'> #{{tag.name.join(" #")}} </a><span class="badge">{{tag.post_count}}</span></span>
								<br>
								<span class='show-on-hover' style='padding-top: 5px;'>120 nodes</span>
								<span class='hide-on-hover' style='padding-top: 5px;'>52 minutes left</span>
						</div>
					</div>
				</div>
			</div>

			<div class='row' style='margin-bottom: 20px;'>
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Sort By: Views
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Sort By: Likes</a>
				    <a class="dropdown-item" href="#">Sort By: Date</a>
				    <a class="dropdown-item" href="#">Sort By: Relevance</a>
				  </div>
				</div>
			</div>		

			<div class='row'>

				<div class='col-sm-9 no-margin-padding'>

					<div class='container no-margin-padding'>
						<div class='row no-margin-padding text-justify'>

							<div class='col-sm-3 grow search-result'  ng-repeat='card in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card Number {{card}}</h4>
								    <h6 class="card-subtitle mb-2 text-muted">This is subtitle {{card}}</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

<!-- 							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>


							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div>

							<div class='col-sm-3 grow search-result'>
								<div class="card">
								  <div class="card-block">
								    <h4 class="card-title">Card title</h4>
								    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								    <p class="card-text" style='font-size: 12px;'>
								      Some quick example text to build on the card title
								      and make up the bulk of the card's content.
								    </p>
								  </div>
								</div>
							</div> -->

						</div>
					</div>
				</div>

				<div class='col-sm-3'>
					<div class='summary'>

						<h5 class='section-heading' style='border-bottom: 1px solid #4C4A4A; margin-bottom: 15px;'>Popular Tags</h5>

						<div ng-repeat='tag in popularTags track by $index'>
							<h6 class='subsection-heading'><a ui-sref='home({tags: tag.name.join("+") })'> #{{tag.name.join(" #")}} </a></h6>
							<p>	
								{{tag.subscribers}} subscribers
								<br>{{tag.post_count}} new posts
							</p>
						</div>

					</div>
				</div>

			</div>		
			
		</div>
	</div>

	<div class='row'>
		<user-bar class='linear-show' style='position: fixed; width: 100%; left: 0px; bottom: -120px; z-index: 3;'></user-bar>
	</div>

</div>
